.wrapper_burger {
  display: none; }

.main_content_page {
  flex-grow: 1; }

.wrapper_menu_main {
  display: none; }

.wrapper_menu_left {
  position: fixed;
  top: 38vh;
  left: 7vw;
  height: 48vh;
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;*/
  /*border: 2px solid #f00;*/ }

.wrapper_menu_right {
  position: fixed;
  top: 15vh;
  right: 7vw;
  /*width: 30vw;*/
  max-height: 30vh;
  /*border: 2px solid #f00;*/ }

.life1,
.works1,
.theatre1,
.hronos1,
.liter1 {
  position: relative;
  margin-bottom: 2.5vh;
  /*border: 2px solid #0f0;*/ }

.life1 .st_button1 {
  position: absolute;
  bottom: 1vh;
  left: 1.4vw; }

.works1 .st_button1 {
  position: absolute;
  bottom: 1vh;
  left: 2.2vw; }

.theatre1 .st_button1 {
  position: absolute;
  bottom: 1vh;
  left: 2.3vw; }

.hronos1 .st_button1 {
  position: absolute;
  bottom: 1vh;
  left: 2.7vw; }

.liter1 .st_button1 {
  position: absolute;
  bottom: 1vh;
  left: 1.7vw; }

.theatre1 p,
.hronos1 p,
.liter1 p {
  text-align: center; }

.img_life1,
.img_works1,
.img_theatre1,
.img_hronos1,
.img_liter1 {
  width: 17vw;
  /*max-width: 229px;
  border: 2px solid #0f0;*/ }

.img_life1 img,
.img_works1 img
 {
  width: 100%;
  height: 100%;
  border: 2px solid #297c29;
  border-radius: 0.6em; }

.wrap_img_right {
  width: 17vw;
  height: 21vh; }

.wrap_img_right img {
  width: 95%;
  height: 95%;
  border: 3px solid #134c13;
  border-radius: 1em; }

.st_button1 {
  /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5vw;
  font-weight: 600;
  color: #fff;
  border: 2px solid #297c29;
  border-radius: 0.6em;
  box-sizing: border-box;
  padding: 0.5vh 0.7vw;
  background-color: rgba(109, 145, 110, 0.6);
  /*margin: 2vh 2vw;
  padding-top: 1.0vh;*/
  /*margin-left: 1.5vw;*/ }

.st_button1 a {
  color: #fff;
  margin: 0px auto; }

.main_page {
  text-align: center; }

.st_button1 a:hover {
  color: #0f0; }

.header_main {
  position: fixed;
  width: 48vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header_main_h1 {
  font-size: 4vh; }

.header_life, .header_works, .header_theatre, .header_hronos, .header_liter {
  box-sizing: border-box;
  padding: 2vh 2vh 2vh 2vh;
  margin-left: 16vw;
  text-align: center; }

.header_life {
  margin-left: 16vw; }

.header_works {
  margin-left: 8vw; }

.header_theatre {
  margin-left: 12.0vw; }

.header_hronos {
  margin-left: 10.0vw; }

.header_liter {
  margin-left: 19.0vw; }

.wrapper_button_open {
  width: 4vh;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.8vw;
  border: 1px solid #fff; }

.button_open {
  width: 2.5vh;
  height: 2.5vh;
  border: 2px solid #fff; }

.content_page {
  width: 50vw;
  height: 75vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  margin-left: 25vw;
  background-color: rgba(109, 145, 110, 0.6);
  border: 3px solid #134c13;
  border-radius: 1em;
  overflow-y: scroll; }

.wrap_life1 {
  margin-top: 8vh;
  padding-left: 1vw;
  text-indent: 2.0vw; }

.wrap_life1 p, .wrap_life1 li {
  font-size: 2.5vh;
  line-height: 3vh;
  margin-bottom: 1.2vh; }

.wrap_life1 ol li {
  margin-left: 2vw; }

.wrap_img {
  width: 50%;
  margin: 1vh auto; }

.wrap_img img {
  width: 100%;
  border: 3px solid #134c13;
  border-radius: 1em; }

.footer {
  margin-top: 8.0vh;
  flex-grow: 0;
  display: flex;
  justify-content: flex-end;
  /*border: 2px solid #0fa;*/
  box-sizing: border-box;
  padding-right: 3vw;
  font-size: 2.4vh;
  font-weight: 600; }

.footer a {
  color: #000; }

.footer a:hover {
  color: #fff; }

@media only screen and (min-width: 420px) and (max-width: 768px) {
  .page {
    background: none; }

  .wrapper_menu_left {
    display: none; }

  .wrapper_menu_right {
    display: none; }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center; }

  .header h1 {
    margin-left: 25vw; }

  .wrapper_burger {
    display: block;
    margin-right: 1vw; }
    .wrapper_burger #burger {
      display: block;
      width: 35px;
      height: 31px;
      margin-right: 2vw;
      cursor: pointer;
      position: relative;
      background-color: #297c29; }
    .wrapper_burger .burger_line {
      display: block;
      width: 100%;
      height: 4px;
      background-color: #fff;
      position: absolute;
      left: 0;
      transition: .5s all linear; }
    .wrapper_burger .burger_line_first {
      top: 0; }
    .wrapper_burger .burger_line_second,
    .wrapper_burger .burger_line_third {
      top: 50%;
      transform: translateY(-50%); }
    .wrapper_burger .burger_line_fourth {
      bottom: 0; }
    .wrapper_burger .burger_active .burger_line_first,
    .wrapper_burger .burger_active .burger_line_fourth {
      opacity: 0; }
    .wrapper_burger .burger_active .burger_line_second {
      transform: translateY(-50%) rotate(45deg); }
    .wrapper_burger .burger_active .burger_line_third {
      transform: translateY(-50%) rotate(-45deg); }

  .wrapper_menu_main {
    display: block; }
    .wrapper_menu_main #menu_main {
      position: fixed;
      top: 100px;
      left: -310px;
      width: 300px;
      height: 340px;
      background-color: #263b20;
      border: 2px solid #297c29;
      border-radius: 0.8em;
      transition: linear 1s; }
    .wrapper_menu_main .menu {
      display: block; }
    .wrapper_menu_main .item_menu {
      font-family: 'Courier New', Courier, monospace;
      font-size: 3vh;
      font-weight: 600;
      text-align: center;
      margin-top: 20px;
      box-sizing: border-box;
      padding-bottom: 10px; }
    .wrapper_menu_main .item_menu a {
      color: #fff; }
    .wrapper_menu_main .item_menu a:hover {
      color: #0f0; }
    .wrapper_menu_main #menu_main.open {
      left: 10.0vw;
      transition: linear 1s; }

  .content_page {
    width: 92vw;
    height: 77vh;
    margin-left: 4.0vw; }

  .header_main {
    width: 88vw;
    height: 8vh;
    margin: 0;
    padding: 0;
    background-color: #134c13; }

  .header_life {
    margin-left: 33vw; }

  .header_works {
    margin-left: 22vw; }

  .header_theatre {
    margin-left: 28vw; }

  .header_hronos {
    margin-left: 23.0vw; }

  .header_liter {
    margin-left: 35.0vw; }

  .wrapper_button_open {
    display: none; }

  .wrap_life1 p, .wrap_life1 li {
    font-size: 3.4vh;
    line-height: 4vh;
    text-indent: 3.5vw;
    margin-bottom: 1.5vh; }

  .wrap_life1 ol li {
    margin-left: 4vw; }

  .wrap_img {
    width: 70%; }

  .footer {
    margin-top: 4.0vh; } }
