@charset "UTF-8";
body {
  width: 97vw;
  height: 90vh;
  background: url(../img/backgr.png) center no-repeat;
  /*background: url(../../img/backgr.png) center no-repeat;*/
  background-size: cover;
}

.header_big {
  width: 100%;
  position: fixed;
  top: 0;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_h1_big {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_h1_big h1 {
  font-size: 4vh;
  color: #fff;
  margin-left: 32vw;
}

.close {
  height: 4vh;
  width: 4vh;
  background-color: #f00;
  border-radius: 3px;
  margin-right: 0.99vw;
  border: 1px solid #fff;
}

.close:after {
  position: relative;
  content: "×";
  font-size: 6vh;
  color: white;
  font-weight: bold;
  top: -1.05vh;
  left: 0.07vw;
}

.main_big {
  width: 95vw;
  height: 86vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  margin-left: 2.5vw;
  margin-top: 9vh;
  overflow-y: scroll;
  background-color: rgba(109, 145, 110, 0.6);
  border: 3px solid #134c13;
  border-radius: 1em;
}

/*
.block_info_1 {
    border: 3px solid #f00;
    //position: relative;
    //display: flex;
    //justify-content: space-between;
    //align-items: center;
}
*/
.main_big p {
  font-size: 2.7vh;
  line-height: 2.7vh;
  text-indent: 3vw;
  box-sizing: border-box;
  padding: 0vh 1vw 1vh 2vw;
}

.wrap_img_left {
  width: 40%;
  margin: 1.5vh;
  float: left;
}

/*
.text_1 {
    //flex-grow: 0;
    border: 1px solid #0f0;
}
*/
.wrap_img_right {
  width: 35%;
  margin: 1.5vh;
  float: right;
}

.wrap_img_left img,
.wrap_img_right img {
  width: 100%;
  border: 3px solid #134c13;
  border-radius: 1em;
}
