body {
  width: 100vw;
  height: 100vh;
  background: url(img/backgr.png) center no-repeat;
  background-size: cover;
}

.page {
  width: 100vw;
  height: 100vh;
  background: url(img/ramka.png) center / 100vw 100vh no-repeat;
}

.header {
  width: 100vw;
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid aqua;
}

.header h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 5vh;
  color: #fff;
  padding-top: 2vh;

}

.main_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.top_row {
  width: 75vw;
  height: 45vh;
  margin-left: 18vw;
  display: flex;
  justify-content: space-around;
  border: 2px solid #f00;
}

.life, .hronos {
  width: 30vw;
  border: 2px solid #f0e;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding-top: 3vh;
}

.img_life, 
.img_hronos
 {
  width: 90%;
  max-width: 229px;
  border: 2px solid #0f0;
}

.img_life img, 
.img_hronos img,
.img_works img,
.img_theatre img,
.img_about img
{
  width: 100%;
}

.words_quote {
  width: 40vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 0vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4.5vh;
  color: #fff;
  border: 2px solid #f0e;
}

.hronos {
  width: 30vw;
  border: 2px solid #f0e;
}

.bottom_row {
  width: 85vw;
  height: 35vh;
  box-sizing: border-box;
  margin-left: 7.5vw;
  display: flex;
  justify-content: space-around;
  border: 2px solid #f00;
}

.img_works,
.img_theatre,
.img_about
 {
  width: 90%;
  max-width: 229px;
  border: 2px solid #0f0;
}

.img_theatre {
  box-sizing: border-box;
  margin-top: 10vh;
}